.hover_black:hover {
    color: black !important;
    font-weight: 600;
}

.hover_black:active {
    color: rgb(0, 0, 0) !important;
    font-weight: 600;
    background-color: rgba(136, 201, 255, 0.575);
}

.activated {
    color: rgb(0, 0, 0) !important;
    font-weight: 600;
    background-color: rgba(136, 201, 255, 0.575);
}

.text_white {
    color: rgb(0, 0, 0);
}

.alertItem {
    background-color: rgba(80, 80, 80, 0.5);
    width: 100%;
    height: 100%;
    top: 0px;
    position: fixed;
    z-index: 999;
}

.categoryBox {
    background-color: aliceblue;
    position: relative;
    width: 400px;
    margin: auto;
    top: 100px;
}

.categoryHeader {
    border-bottom: 1px solid black;
    margin-bottom: 15px;
    text-align: center;
    padding: 5px;
}

.categoryHeader p {
    margin: 10px;
    font-weight: 600;
    font-size: large;
}

.categoryInput {
    margin: 10px;
    padding: 10px;
    display: grid;
    text-align: center;
}

.categoryInput p {
    font-weight: 600;
    font-size: larger;
}

.categoryInputButtons {
    margin-top: 10px;
    padding-top: 10px;
    width: 50%;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
}

.sitesInput {
    display: grid;
    text-align: center;
    width: 80%;
    height: 350px;
    margin: auto;
}

.wrapperInput {
    display: inherit;
    margin-top: 15px;
}

.wrapperInput p {
    font-weight: 700;
    margin: 0;
}

.wrapperInput:last-child {
    margin-bottom: 20px;
}

.categoryInputButtons {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.wrapperCategories {
    display: flex;
}

.fa.fa-trash.category {
    vertical-align: middle;
    padding: 10px;
    padding-top: 14px;
}

.fa.fa-trash.category:hover {
    cursor: pointer;
    padding: 10px;
    padding-top: 19px;
    background-color: rgba(245, 79, 38, 0.753);
}